* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main {
  /* height: 800vh; */
  background-color: rgb(255, 255, 255);
  padding: 0 8rem;
  color: black;

}

.main>* {
  height: 100vh;
  border-bottom: 2px solid black;
}

.sticky-head{
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.header-1 {
  /* background-color: aqua; */
  height: 8vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -------------logostyling------------ */
.web-logo {
  /* border: 1px solid; */
  font-size: 1.5rem;
  font-weight: 600;
}

span:only-child {
  color: rgb(99, 71, 253);
}

/* ---------searchbarstyling-------------- */

.search-bar {
  display: flex;
}

.search-bar input:first-child {
  border: none;
  height: 2.5rem;
  width: 40rem;
  padding-left: 2rem;
  border-radius: .8rem 0 0 .8rem;
  background-color: aliceblue;
}

.search-bar button:last-child {
  border: none;
  font-size: 1.2rem;
  height: 2.5rem;
  width: 3rem;
  border-radius: 0 .8rem .8rem 0;
  background-color: aliceblue;
}

.header-1-tabs {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 13rem;
  height: 2.5rem;
}

.header-1-tabs>.tab {
  font-size: 1.1rem;
}

.header-1-tabs button:last-child {
  background-color: rgb(99, 71, 253);
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  color: white;
  font-size: 1.2rem;
  border-radius: .3rem;
}

/* ----------------header-2 styling starts from here------------------ */

.header-2 {
  /* background-color: aqua; */
  height: 8vh;

  display: flex;
  justify-content: center;
  align-items: center;
}


.menu-tab {
  margin: 0 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: .5rem;
}

.menu-tab:hover {
  border-bottom: 2px solid rgb(99, 71, 253);
  color: black;
}

a {
  text-decoration: none;
  color: gray;
}

/* -----------home page content box styligng-------------- */

.home-page-content-bx {
  /* border: 1px solid black; */
  height: calc(100vh - 8vh - 8vh - 8vh);
  border-radius: 2rem;
  background-color: aliceblue;
  padding: 4rem;
  display: flex;
  overflow: hidden;

  position: relative;
}

.left-bx {
  width: 40%;
}

.text-area {
  /* border: 1px solid; */
  margin: 4rem 0;
}

.text-area>h1:first-child {
  font-size: 3rem;
}

.text-area p:last-child {
  color: gray;
  font-size: .8rem;
}

/* ------------------------- */
.review-bx {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
}

.review-bx nav {
  text-align: center;
}

.review-bx nav h2:first-child {
  font-weight: 600;
  font-size: 1.6rem;
}

.review-bx nav p:last-child {
  font-size: .8rem;
  font-weight: 600;
}

/* ---------------------- */

.button-bx {
  /* border: 1px solid black; */
  margin: 4rem 0;
}

.btn {
  border: none;
  width: 10rem;
  height: 3rem;
  border-radius: 3rem;
  background: linear-gradient(45deg, black, rgb(99, 71, 253));
  color: white;
  font-size: 1rem;
}

.trans-btn {
  background: transparent;
  color: black;
  font-weight: 500;
}

.right-bx {
  /* background-image: url(image/myphoto.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */

  width: 50%;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  /* border: 1px solid black; */
  position: absolute;
  right: -5rem;
  bottom: -10rem;

}

.image-styling {
  width: 55%;
  /* border: 1px solid; */
  position: absolute;
  bottom: 10rem;
  right: 20rem;

}

.clip-shape {
  height: 50rem;
  width: 50rem;
  /* border: 1px sol40; */
  background-color: rgba(202, 229, 255, 0.336);
  clip-path: circle(50% at 50% 50%);
  display: flex;
  justify-content: center;
  align-items: baseline;

  position: relative;
}

/* --------------page two styling starts from here---------------- */

.page-two {
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Ptwo-head {
  /* background-color: aqua; */
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: last baseline;
}

.Ptwo-head:nth-child(1) {
  font-size: 1.5rem;
}

.Ptwo-our-servieces-bx {
  /* background-color: aqua; */
  /* height: 30vh; */
  /* margin-top: 4rem; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Ptwo-our-servieces-bx .card>* {
  margin: 1rem 0;
}

.Ptwo-our-servieces-bx .card {
  /* border: 1px  solid black; */
  width: 22%;
  height: 25vh;
  overflow: hidden;
  padding: 1rem;
}

.card .fa-solid:only-of-type {
  border: 1px solid rgb(68, 68, 68);
  height: 3rem;
  width: 3rem;
  text-align: center;
  font-size: 1.5rem;
  padding: .5rem;
  border-radius: .3rem;
}

.Ptwo-our-servieces-bx .card h2:first-of-type {
  font-size: 1.5rem;
  font-weight: 700;
}

.Ptwo-our-servieces-bx .card p:first-of-type {
  font-size: .9rem;
  color: gray;
}

.Ptwo-video-bx {
  /* height: calc(100vh - 25vh - 10vh); */
  /* background-color: aqua; */
  /* margin-top: 5rem; */
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.Ptwo-video-bx video:only-of-type {
  width: 35%;
  border-radius: 2rem;
  box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, 0.363);
}

.text-bx {
  width: 60%;
  position: relative;
}

.clip-shape-for-text-bx {
  position: absolute;
  background-color: rgba(202, 229, 255, 0.336);
  width: 23rem;
  height: 14rem;
  top: -1.2rem;
  left: -2rem;
  clip-path: circle(50% at 10% 10%);
}

.Ptwo-video-bx .text-bx h1:first-of-type {
  font-size: 3rem;
  position: relative;
}

.Ptwo-video-bx .text-bx p:first-of-type {
  color: gray;
  font-size: 1rem;
  margin-top: 1.5rem;

}


.page-two-block2 {
  height: 100vh;
  /* border: 1px dotted red; */
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-two-block2 .text-bx {
  width: 40%;
  height: auto;
  /* border: 1px solid red; */
  padding-right: .5rem;
  border-radius: 5rem 0 0 0;
}


.page-two-block2 .text-bx h1:first-of-type {
  font-size: 3rem;
  position: relative;
}

.page-two-block2 .text-bx p:first-of-type {
  color: gray;
  font-size: 1rem;
  margin-top: 1.5rem;

}

.page-two-block2 .clip-shape-for-text-bx {
  position: absolute;
  background-color: rgba(202, 229, 255, 0.336);
  width: 23rem;
  height: 14rem;
  top: -1.2rem;
  left: -2rem;
  clip-path: circle(50% at 10% 10%);
}

/* ------------------------ */


.page-two-block2 .card-bx {
  width: 41%;
  height: 80%;
  /* border: 1px solid blue; */

  display: flex;
  justify-content: space-around;

  position: relative;
}

.page-two-block2 .card-bx .col-1 {
  position: absolute;
  left: 1rem;
  bottom: -3rem;

  /* display: flex;
  flex-direction: column;
  justify-content: end; */

}

.page-two-block2 .card-bx .col-2 {
  position: absolute;
  right: 1rem;
  top: -3rem;

  /* display: flex;
  flex-direction: column;
  justify-content: start; */
}

.page-two-block2 .card-bx .block2-card {
  width: 19rem;
  height: 22rem;
  border: 1px solid  rgb(181, 168, 255);
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page-two-block2 .card-bx .block2-card i:first-of-type{
  font-size: 3rem;
  color: rgb(99, 71, 253);
}

.page-two-block2 .card-bx .block2-card span{
  background-color:  rgba(184, 171, 255, 0.253);
  height: 5rem;
  width: 5rem;
  border-radius: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-two-block2 .card-bx .block2-card h1:first-of-type{
  font-size: 1.6rem;
}

.page-two-block2 .card-bx .block2-card p:first-of-type{
  font-size: .8rem;
  color: gray;
}


/* ---------------------------page threee------------------------ */

.page-three{

}

.page-three .page3-header{
  height: 20vh;
  /* background-color: red; */

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.page-three .page3-header h1:first-of-type{
  font-size: 3rem;
}

.page-three .page3-header p:first-of-type{
  font-size: 1rem;
  color: gray;
}

.page-three .page3-cards-bx{
  display: grid;
  grid-template-areas: "c1 c2 c5"
                        "c3 c4 c5";
  gap: 3rem;
  height: 50vh;
  margin-top: 4rem;
}

.page-three .page3-cards-bx .card{
  /* border: 1px solid black; */
  border-radius: 1rem;
  padding: 2rem 5rem;
  overflow: hidden;
  width: 30rem;
}

.page-three .page3-cards-bx .card span:first-of-type{
  background-color: rgb(99, 71, 253);
  color: white;
  /* border: 2px solid red; */
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: .4rem;
  text-align: center;
  padding: .3rem;
  margin-right: 1rem;
  vertical-align: text-bottom;
}

.page-three .page3-cards-bx .card h1:first-of-type{
  display: inline;
  font-size: 2rem;
}


.page-three .page3-cards-bx .card p:first-of-type{
  color: gray;
  font-size: .9rem;
  margin-top: 2rem;
}

.img-card{
  overflow: hidden;
  /* border: 1px solid red; */
  border-radius: 2rem;
  height: 60vh;
  width: 25rem;
}

.c-1{
  grid-area: c1;
  border: 2px solid rgb(181, 168, 255);
}
.c-2{
  grid-area: c2;
}
.c-3{
  grid-area: c3;
}
.c-4{
  grid-area: c4;
}
.c-5{
  grid-area: c5;

  background-image: url(image/43215.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
